.button {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  padding: 10px;
  color: var(--white);
  border: none;
  background-color: var(--primary);
}

.ghost {
  padding: 10px 30px 10px 10px;
  color: var(--black);
  border: 1px solid var(--white-smoke);
  background-color: var(--white);
}
