*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--black);
  background-color: var(--bright-gray);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:root {
  --black: #3b434e;
  --white: #fff;
  --primary: #5ecf70;
  --primary-hover: #93f09c;
  --ghost-white: #f9f8ff;
  --bright-gray: #f5f6f8;
  --white-smoke: #ebebeb;
  --red: #de0000;
  --orange: #fc836d;
  --blue: #488ae4;
  --blue-light: #cbe9f8;
  --steel-blue: #b3c0d9;
}
