.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template:
    "sidebar" auto
    "body" 1fr
    "footer" auto
    / minmax(320px, 1fr);
}

.header {
  grid-area: header;
  background-color: rgb(176 208 147);
}

.body {
  grid-area: body;
  background-color: rgb(182 210 192);
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(173 137 207);
}

.footer {
  grid-area: footer;
}

@media (width >= 768px) {
  .wrapper {
    gap: 0 30px;
    grid-template:
      ". sidebar body ." 1fr
      "footer footer footer footer" auto
      / auto 250px minmax(320px, 1200px) auto;
  }
}
